---
import { Icon } from 'astro-icon/components';
---
<nav class="bg-ctp-crust px-5 flex justify-between">
  <a class="flex gap-3 py-4" href="/">
    <Icon name="api-app" size={24} />
    <span>Chris Waitt | Full Stack Developer Portfolio</span>
  </a>
  <ul class="flex gap-3 text-sm text-ctp-blue">
    <li><a class="inline-block py-4" href="/about">About</a></li>
    <li><a class="inline-block py-4" href="/contact">Contact</a></li>
  </ul>
</nav>
  