<nav class="bg-zinc-900 text-white px-5 flex justify-between">
  <a class="flex gap-3 py-4" href="/">
    <img src="/tech-icons/chef-hat.svg" width="20" height="20" alt="Chef Hat Icon" />
    <span>cwaitt.dev</span>
  </a>
  <ul class="flex gap-3">
    <li><a class="inline-block py-4" href="/about">About</a></li>
    <li><a class="inline-block py-4" href="/contact">Contact</a></li>
  </ul>
</nav>
  