
---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions transition:animate="slide" />
	</head>
	<body class="min-h-dvh flex flex-col grow">
		<Navbar />
		<main class="flex flex-col grow p-5 bg-zinc-950 text-white">
			<!-- <PageHeading title={title} /> -->
			<slot />
		</main>
	</body>
</html>
